@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(230, 230, 230); */
    background-color: rgb(228, 247, 255);
}


button{
    background-color: transparent;
}

button:hover{
    background-color: transparent;
    color: black;
}

.logo{
    height: 60px;
    display: flex;
    align-items: center;

}

.ri-book-fill{
    margin-left: 80px;
}

.logo a{
    /* margin-left: 80px; */
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.logo pre{
    margin-top: 10px;
    font-size: 0.9rem;
}

.logo span{
    color: red;
}

.logo input{
    margin-left: 140px;
    height: 38px;
    width: 800px;
    padding: 10px;
    background-color: white;  
    border-radius: 10px;
}

.search-icon{
    height: 38px;
    width: 40px;
    font-size: .8rem;
    background-color: #eec093;
}

/* .search-icon .fa-solid{
    height: 20px;
    width: 10px;
} */

.menu{
    display: flex;
    margin-top: 10px;
    font-size: 20px;
    height: 70px;
    background-color: white;
    justify-content: space-evenly;
}

.menu a{
    margin-top: 20px;
    margin-left: 52px;
    text-decoration: none;
    background-color: white;
    color: black;
}   

.profile {
    margin-left: 720px;
    margin-top: 15px;
    background-color: grey;
    color: gray;
}

.main{
    height: 65vh;
    display: flex;  
}

.main button{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.main pre{
    margin-top: 150px;
    margin-left: 80px;
    font-size: 1rem;
}

.main span{
    font-size: 3rem;
    font-family: "Merriweather", serif;
    
}

.main button{
    margin-left: 80px;
    margin-top: 40px;
}


.book1{
    margin-left: 240px;
    margin-top: 100px;
    height: 300px;
    width: 200px;
    margin-bottom: 400px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    
}

.book2{
    margin-left: 50px;
    margin-top: 50px;
    height: 400px;
    width: 300px;
    margin-bottom: 400px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
}

.book3{
    margin-left: 50px;
    margin-top: 100px;
    height: 300px;
    width: 200px;
    margin-bottom: 400px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
}

.service{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
    margin-top: 40px;
}

.touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 5px;
}

.fa-solid{
    font-size: 2.5rem;
}

.touch p{
    font-size: 1.8rem;
}

.support{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 5px;
}

.ri-customer-service-2-fill{
    font-size: 2.5rem;
}

.support p{
    font-size: 1.8rem;
}

.featured{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.fbook{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    grid-row: auto;
    align-items: center;
    justify-content: center;
}

.fbook img{
    height: 210px;
    overflow: hidden;
}

.b1{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b1 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b1:hover img {
  transform: scale(1.6); 
}


.b1 a{
    color: black;
    background-color: #eec093;
}

.b1 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b1 button:hover{
    background-color: black;
    color: white;
}

.b2{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b2 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b2:hover img {
  transform: scale(1.6); 
}


.b2 a{
    color: black;
    background-color: #eec093;
}

.b2 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b2 button:hover{
    background-color: black;
    color: white;
}


.b3{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b3 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b3:hover img {
  transform: scale(1.6); 
}


.b3 a{
    color: black;
    background-color: #eec093;
}

.b3 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b3 button:hover{
    background-color: black;
    color: white;
}


.b4{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b4 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b4:hover img {
  transform: scale(1.6); 
}



.b4 a{
    color: black;
    background-color: #eec093;
}

.b4 img{
    width: 180px;
}

.b4 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b4 button:hover{
    background-color: black;
    color: white;
}


.row2{
    display: flex;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    grid-row: auto; 
}

.row2 img{
    height: 210px;
    overflow: hidden;
}

.b5{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b5 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b5:hover img {
  transform: scale(1.6); 
}



.b5 a{
    color: black;
    background-color: #eec093;
}

.b5 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b5 button:hover{
    background-color: black;
    color: white;
}


.b6{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b6 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b6:hover img {
  transform: scale(1.6); 
}



.b6 a{
    color: black;
    background-color: #eec093;
}

.b6 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b6 button:hover{
    background-color: black;
    color: white;
}

.b7{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b7 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b7:hover img {
  transform: scale(1.6); 
}



.b7 a{
    color: black;
    background-color: #eec093;
}

.b7 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b7 button:hover{
    background-color: black;
    color: white;
}


.b8{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b8 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b8:hover img {
  transform: scale(1.6); 
}



.b8 a{
    color: black;
    background-color: #eec093;
}

.b8 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b8 button:hover{
    background-color: black;
    color: white;
}

.b9{
    /* border: 2px solid black; */
    background-color: #eec093;
    color: black;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(55, 54, 54);
    position: relative;
}


.b9 img{
    transition: transform 0.5s ease-out;
    border-radius: 10px;

}


.b9:hover img {
  transform: scale(1.6); 
}


.b9 a{
    color: black;
    background-color: #eec093;
}

.b9 button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}

.b9 button:hover{
    background-color: black;
    color: white;
}


.sub{
    margin-top: 80px;
    position: relative;
}
.sub img{
    height: 400px;
    width: 100%;
}

.sub pre{
    position: absolute;
    top: 0;
    color: white;
    background: transparent;
    margin-top: 100px;
    margin-left: 450px;
    font-family: "Merriweather", serif;
    font-size: 2rem;
}

.input{
    position: absolute;
    top: 0;
    margin-top: 200px;
    margin-left: 430px;
    
}

.input input{
    color: black;
    background: white;
    height: 30px;
    width: 300px;
    padding: 20px;
}

.sbtn{
    position: absolute;
    top: 0;
    margin-top: 280px;
    margin-left: 510px;
}

.sbtn button{
    height: 40px;
    width: 150px;
    cursor: pointer;
}






